<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Neucha|Pacifico|Underdog&display=swap" rel="stylesheet">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <meta property='og:type' content='website' />
  <meta property="og:title" content="СrocLS">
  <meta property="og:site_name" content="СrocLS - game «Crocodile» by LeonSadeness © 2020">
  <meta property="og:url" content="https://leonsadeness.gitlab.io/crocls">
  <meta property="og:description"
    content="«Крокодил» - Многопользовательская игра, где игроки по очереди отгадывают слово по рисунку. Отгадывающие, пишут слово в чат, основываясь на рисунке художника, а художник старается изобразить это слово как можно более понятнее.">
  <meta property="og:image" content="<%= BASE_URL %>LogoCanvasLS.png">
  <meta property="og:image:width" content="256">
  <meta property="og:image:height" content="256">
  <meta name="theme-color" content="#068BC1">
  <title>CrocLS</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>