:root{
  --secondary: #333;
  --primary: #b8b8b8;
  --info: #068BC1;
  --info_minor: #055f83;
  --info_major: #06729c;
}

.btn-info{background-color: var(--info)!important;}
.btn-info:hover{background-color: var(--info_minor)!important;}
.btn-info:active{background-color: var(--info_major)!important;}

.bg-secondary{background-color: var(--secondary)!important;}
.bg-primary{background-color: var(--primary)!important;}
.bg-info{background-color: var(--info)!important;}